<h1> Donations </h1>

<form action="/donation" method="POST">
  <br> <input type="text" name="full_name" placeholder="Full Name">
  <br> <input type="text" name="email" placeholder="Email">
  <br> <input type="text" name="credit_card_number" placeholder="Credit Card Number">
  <br> <input type="text" name="project_name" placeholder="Project Name">
  
  
  <br> <input type="Submit">
</form>