<!DOCTYPE html>
<html>
  <head>
    <link rel ="stylesheet" type="text/css" href="css/sign-up.css">
    <title>Sign Up</title>
  </head>
    <body>
      
 <center><div id="nav">
  <ul>
    <li><a href="#">KIVA</a>
    </li>
    <li><a href="#">Music</a>
    </li>
    <li><a href="#">Education</a>
    </li>
    <li><a href="#">Fun</a>
    </li>
    <li><a href="#">Entertainment</a>
    </li>
    <li><a href="#">Utilities</a>
    </li>
  </ul>
</div></center>
      
    <center><p><h1> Sign Up </h1><p>
      <h2>Change someone's life</h2>
        <h3>$25 at a time</h3>

      <form action="/signup" method="POST">
        <br> <input type="text" name="full_name" placeholder="Full Name">
        <br> <input type="text" name="email" placeholder="Email">
        <br> <input type="text" name="credit_card_number" placeholder="Credit Card Number">
        <br> <input type="text" name="address" placeholder="Address">
        <br> <input type="text" name="age" placeholder="Age">
        <br> <input type="text" name="phone_number" placeholder="Phone Number">
  
        <br> <input type="Submit">
      </form>
      </center>
  </body>
</html>
  
