<h1> Sign Up </h1>

<form action="/signup" method="POST">
  <br> <input type="text" name="full_name" placeholder="Full name">
  <br> <input type="text" name="email" placeholder="Email">
  <br> <input type="text" name="credit_card_number" placeholder="Credit Card Number">
   <br> <input type="text" name="address" placeholder="Address">
  <br> <input type="text" name="age" placeholder="Age">
  <br> <input type="text" name="phone_number" placeholder="Phone Number">
  
  <br> <input type="Submit">
</form>